<div class="container" >

    <mat-card class="example-card" >
      <mat-card-header class="header-team">
        <!-- <div mat-card-avatar class="header-image"> <img class="icon-heroe" mat-card-image src="https://api.opendota.com{{heroe.icon}}">  </div> -->
        <mat-card-title>{{team.name}}</mat-card-title>
        <mat-card-subtitle>{{team.tag}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image class="img" src="{{team.logo_url}}">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <div class="info-players">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nick </th>
            <td mat-cell *matCellDef="let player" style="font-weight: bold;"> {{player.name }} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="games_played">
            <th mat-header-cell *matHeaderCellDef> Partidas jugadas </th>
            <td mat-cell *matCellDef="let player"> {{player.games_played}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="wins">
            <th mat-header-cell *matHeaderCellDef> Victorias </th>
            <td mat-cell *matCellDef="let player"> {{player.wins}} </td>
          </ng-container>

          <ng-container matColumnDef="is_current_team_member">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let player"> {{player.is_current_team_member ? 'Activo' : 'No activo'}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>

  </div>