  <div class="container" >
    <div class="heroe-int-content">
    <mat-card class="example-card mat-elevation-z6" style="background-color: rgb(97, 132, 197);" *ngFor="let heroe of heroesInt" >
      <mat-card-header class="header-heroe">
        <mat-card-title>{{heroe.localized_name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://api.opendota.com{{heroe.img}}">
    </mat-card>
  </div>

  <div class="heroe-str-content">
    <mat-card class="example-card mat-elevation-z6" style="background-color: rgb(209, 82, 73);" *ngFor="let heroe of heroesStr">
      <mat-card-header class="header-heroe">
        <mat-card-title>{{heroe.localized_name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://api.opendota.com{{heroe.img}}">
    </mat-card>
  </div>

  <div class="heroe-agi-content">
    <mat-card class="example-card mat-elevation-z6" style="background-color: rgb(92, 224, 109);" *ngFor="let heroe of heroesAgi">
      <mat-card-header class="header-heroe">
        <mat-card-title>{{heroe.localized_name}}</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://api.opendota.com{{heroe.img}}">
    </mat-card>
  </div>

  </div>