  <div class="container" >
    <mat-card class="example-card" *ngFor="let heroe of heroes">
      <mat-card-header class="header-heroe">
        <div mat-card-avatar class="header-image"> <img class="icon-heroe" mat-card-image src="https://api.opendota.com{{heroe.icon}}">  </div>
        <mat-card-title>{{heroe.localized_name}}</mat-card-title>
        <mat-card-subtitle>{{heroe.attack_type}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="https://api.opendota.com{{heroe.img}}">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>