.container{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    /* box-sizing: content-box; */
    width: 100%;
    background-color: black;
    justify-content: space-around;
}

.header-heroe{

    display: flex;
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    align-items: center;
    position: relative;

    .header-image{ 

        .icon-heroe{ 
       
            width: calc(100% + 20px) !important;

        }
        
    }

}

.example-card {

    max-width: 260px;
    margin: 1rem;
    
  }